body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdf6f0;
    color: #333;
}

h1, p.lead {
    color: #d6336c;
}

input, button {
    max-width: 300px;
}

button {
    cursor: pointer;
}
